{% include "navbar.html" %}

    {% block body %}
    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">
                    {% if cita.id > 0 %}
                      Editar cita
                    {% else %}
                      Añadir nueva Cita
                    {% endif %}
                  </h3>

                  {% if messages|length > 0 %}
                  {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <form method="post" id="form"
                {% if cita.id > 0 %}
                  action="/cita/update/{{ cita.id }}"
                {% else %}
                  action="/cita/add"
                {% endif %}
                >
                    {% csrf_token %}


                    <div class="row">
                        <div class="col-md-6 mb-4">      
                          <div class="form-outline">
                            <input required type="text" id="nombre" class="form-control form-control-lg" name="nombre" value="{{ cita.nombre }}">
                            <label class="form-label" for="nombre">Nombre</label>
                          </div>
                        </div>
  
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input required type="text" id="apellidos" class="form-control form-control-lg" name="apellidos" value="{{ cita.apellidos }}">
                            <label class="form-label" for="apellidos">Apellidos</label>
                          </div>
                        </div>
  
                      </div>
  
  

                    <div class="row">
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                          <input required type="text" id="telefono" class="form-control form-control-lg" name="telefono" value="{{ cita.telefono }}">
                          <label class="form-label" for="telefono">Telefono</label>
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                            <select required class="form-control form-control-lg" id="motivo" name="motivo" value="{{ cita.motivo }}">
                                    <option value="INFORMACION"
                                    {% if cita.motivo == "INFORMACION" %}
                                      selected
                                    {% endif %}
                                    >INFORMACION</option>

                                    <option value="MEDICINA FAMILIAR"
                                    {% if cita.motivo == "MEDICINA FAMILIAR" %}
                                      selected
                                    {% endif %}
                                    >MEDICINA FAMILIAR</option>

                                    <option value="CONSULTA"
                                    {% if cita.motivo == "CONSULTA" %}
                                      selected
                                    {% endif %}
                                    >CONSULTA</option>

                                    <option value="REVISION"
                                    {% if cita.motivo == "REVISION" %}
                                      selected
                                    {% endif %}
                                    >REVISION</option>
                            </select>                          
                                <label class="form-label" for="motivo">Motivo</label>
                        </div>
      
                      </div>

                    </div>

                    
                    <div class="row">
                        <div class="col-md-6 mb-4">      
                          <div class="form-outline">
                            <input required type="date" id="fecha" class="form-control form-control-lg" name="fecha" value="{{ cita.fecha_programada |date:"Y-m-d" }}">
                            <label class="form-label" for="fecha">Fecha</label>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <select required class="form-control form-control-lg" id="hora" name="hora">
                              {% for h in horas %}
                              <option
                              {% if h|date:"H:i" == cita.fecha_programada|date:"H:i" %}
                                selected> 
                                {% else %}
                                >
                                {% endif %}
                                {{ h |date:"H:i" }}</option>
                              {% endfor %}
                            </select>
                            <label class="form-label" for="hora">Hora</label>
                          </div>
                        </div>
  
                      </div>


                    <div class="alert alert-info" role="alert" id="hora_disponible" style="display: none;">

                    </div>


                    <div class="row">
                      <div class="col">      
                        <div class="form-outline">
                          <select required id="duracion" class="form-control form-control-lg" name="duracion">
                            {% for d in duraciones %}
                              <option
                                {% if d == cita.duracion %}
                                selected> 
                                {% else %}
                                >
                                {% endif %}
                                {{ d }} 
                              </option>                            
                            {% endfor %}
                          </select>
                          <label class="form-label" for="duracion">Duracion</label>
                        </div>
                      </div>
                    </div>
                    <div id="alerta-paciente">

                    </div>
                    {% if cita.id_paciente != None %}
                      <div id="div_paciente">
                        <div class="row">
                          <div class="col d-flex align-items-center">
                            <input type="input" list="datalist" autocomplete="off" class="form-control form-control-lg" id="paciente" name="paciente" value="{{cita.id_paciente.dni}}: {{cita.id_paciente.nombre}}, {{ cita.id_paciente.apellidos }} -- {{ cita.id_paciente.telefono }} -- {{ cita.id_paciente.dni }} -- {{ cita.id_paciente.email }}"/>
                            <datalist id="datalist">
                              {% for item in pacientes %}
                                <option>{{item.dni}}: {{item.nombre}}, {{ item.apellidos }} -- {{ item.telefono }} -- {{ item.email }}</option>
                              {% endfor %}
                            </datalist>
    
                          </div>
                        </div>
                        <div class="row">
                          <label id="intervencion_label" for="intervencion" class="form-label">Paciente</label>
                        </div>
                        </div>
                    {% else %}
                        <div id="div_paciente" style="display: none;">
                          <div class="row">
                            <div class="col d-flex align-items-center">
                              <input type="input" list="datalist" autocomplete="off" class="form-control form-control-lg" id="paciente" name="paciente"/>
                              <datalist id="datalist">
                                {% for item in pacientes %}
                                  <option>{{item.dni}}: {{item.nombre}}, {{ item.apellidos }} -- {{ item.telefono }} -- {{ item.email }}</option>
                                {% endfor %}
                              </datalist>

                            </div>
                          </div>
                          <div class="row">
                            <label id="intervencion_label" for="intervencion" class="form-label">Paciente</label>
                          </div>
                          </div>
                    {% endif %}
                      
                    <div class="mt-4 pt-2">
                      <input class="btn btn-primary btn-lg" type="submit" value="Guardar" style="border-radius: 2rem;"/>
                    </div>
      
                  </form>

                  <script>
                    window.addEventListener("load", function () {
                      paciente = document.getElementById("paciente")
                      paciente.addEventListener("keydown", function(event) {
                              event.preventDefault();
                      });
                      
                      let nombre = document.getElementById("nombre");
                      nombre.addEventListener("change", verPacientes);
                      let apellidos = document.getElementById("apellidos");
                      apellidos.addEventListener("change", verPacientes);
                      let telefono = document.getElementById("telefono");
                      telefono.addEventListener("change", verPacientes);

                      function verPacientes() {
                        if (nombre.value != "" && apellidos.value != "" && telefono.value != "") {
                          var texto = nombre.value.toUpperCase().trim() + ", " + apellidos.value.toUpperCase().trim() + " -- " + telefono.value.trim();

                          var options = document.querySelectorAll("#datalist option");
                          var similarOptions = Array.from(options).filter(function (option) {
                            return option.text.toUpperCase().includes(texto.toUpperCase());
                          });

                          
                          if (similarOptions.length > 0) {
                            document.getElementById("alerta-paciente").innerHTML = "<div class='alert alert-success' role='alert'> Se han encontrado coincidencias de pacientes con los datos escritos. Por favor, inspeccione la lista para escoger alguno.</div>";
                            paciente.value = texto;
                            document.getElementById("div_paciente").style.display = "block";
                          } else {
                            document.getElementById("alerta-paciente").innerHTML = "";
                            paciente.value = "";
                            document.getElementById("div_paciente").style.display = "none";
                          }
                        } else {
                          document.getElementById("alerta-paciente").innerHTML = "";
                          paciente.style.display = "none";
                          document.getElementById("paciente").value = "";
                        }
                      }

                      var form = document.getElementById("form");

                      form.addEventListener("submit", function comprobarHoras() {
                        event.preventDefault();
                        consulta = $("#fecha").val();
                        hora = $('#hora').val();
                        duracion = $('#duracion').val();
                        $.ajax({
                          data: { 'fecha': consulta, 'hora': hora, 'duracion': duracion },
                          url: '/cita/hueco-libre',
                          type: 'get',
                          success: function (data) {
                            if (data.length > 0) {
                              cuerpo = document.getElementById("modal-cuerpo");
                              cuerpo.innerHTML = '';
                              modal = $('#modal');
                              for (let i = 0; i < data.length; i++) {
                                var cita = data[i];
                                cuerpo.innerHTML = cuerpo.innerHTML + '<p>' + cita + '</p>';
                              }
                              modal.modal('show');
                              document.getElementById('aceptar').addEventListener("click", function aceptar() {
                                form.submit();
                              });
                            } else {
                              form.submit();
                            }
                          },
                          error: function (message) {
                            console.log(message);
                          }
                        });
                      });
                    });
                  </script>


                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Citas que interfieren con la seleccionada</h1>
            </div>
            <div class="modal-body" id="modal-cuerpo">
              
            </div>
            <div class="modal-footer">
              <button id="cancelar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button id="aceptar" type="button" class="btn btn-primary">Seguir</button>
            </div>
          </div>
        </div>
      </div>
      

      {% endblock %}