{% include "navbar.html" %}
{% block body %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>


<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration mt-4 mb-5">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Citas del {{fecha|date:"d-m-Y"}}</h3>
              <div class="card-header">
                <div class="row">
                  <div class="col-md-12">
                    <div id='calendar'></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% for cita in citas %}
<div class="modal fade" id="modal-{{cita.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ cita.nombre }} {{ cita.apellidos}}</h1>
      </div>
      <div class="modal-body" id="modal-cuerpo">
        <span class="badge badge-primary" style="font-size: 20px; margin-top: 10px; color:darkslateblue">{{ cita.motivo }}</span>
        <hr>
        <p>{{cita.fecha_programada |date:"H:i"}} - {{cita.fecha_terminacion |date:"H:i"}}</p>
        <p>{{cita.telefono}}</p>
        
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <div>
          <button id="cancelar" type="button" class="btn btn-secondary align-items-left" data-bs-dismiss="modal" style="border-radius: 2rem;">Cancelar</button>
          <a href="/cita/update/{{ cita.id }}" class="btn btn-primary d-inline" style="border-radius: 2rem;">Editar</a>
          <a href="/cita/borrar/{{ cita.id }}" class="btn btn-danger d-inline" onclick="return confirm('¿Está seguro que desea borrar esta cita?')" style="border-radius: 2rem;">Borrar</a>
        </div>
        {% if cita.id_paciente %}
        <div>
          <a href="/paciente/{{ cita.id_paciente.id }}" class="btn btn-primary d-inline" style="border-radius: 2rem;">Ver Paciente</a>
          <a href="/visita/buscar/paciente/dni?dni={{ cita.id_paciente.dni }}" class="btn btn-primary d-inline" style="border-radius: 2rem;">Ver Visitas</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var events = [
      {
        title: 'Descanso',
        start: '{{fecha|date:"Y-m-d"}}T00:00:00',
        end: '{{fecha|date:"Y-m-d"}}T10:00:00',
        backgroundColor: '#f37054',
    },
    {
        title: 'Descanso',
        start: '{{fecha|date:"Y-m-d"}}T14:00:00',
        end: '{{fecha|date:"Y-m-d"}}T16:00:00',
        backgroundColor: '#f37054',
    },
    {
        title: 'Descanso',
        start: '{{fecha|date:"Y-m-d"}}T20:00:00',
        end: '{{fecha|date:"Y-m-d"}}T23:59:59',
        backgroundColor: '#f37054',
    },
        {% for cita in citas %}
          {
            title: '({{cita.motivo|slice:":4"}}) {{ cita.nombre }} {{ cita.apellidos }}',
            start: '{{cita.fecha_programada |date:"Y-m-d"}}T{{cita.fecha_programada |date:"H:i"}}:00',
            end: '{{cita.fecha_terminacion |date:"Y-m-d"}}T{{cita.fecha_terminacion |date:"H:i"}}:00',
            id: '{{cita.id}}',
            {% if cita.motivo == "INFORMACION" %}
              backgroundColor: '#d4ac0d',
            {% elif cita.motivo == "CONSULTA" %}
              backgroundColor: '#5499c7',
            {% elif cita.motivo == "MEDICINA FAMILIAR" %}
              backgroundColor: '#52be80',
            {% elif cita.motivo == "REVISION" %}
              backgroundColor: '#af7ac5',
            {% endif %}
          },
        {% endfor %}
        ];
        console.log(events)
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialDate: '{{fecha|date:"Y-m-d"}}',
      initialView: 'timeGridDay',
      timeZone: 'Europe/Madrid',
      slotDuration: '00:15:00', // duración de cada intervalo de tiempo
      slotLabelInterval: '01:00:00',
      slotLabelFormat:{
             hour: '2-digit',
             minute: '2-digit',
             },//se visualizara de esta manera 01:00 AM en la columna de horas
      eventTimeFormat: {
               hour: '2-digit',
               minute: '2-digit',
              },
      events: events,
      headerToolbar: false,
      allDaySlot: false,
      eventClick: function(info) {
        var id = "#modal-"+info.event.id;
        $(id).modal('show');
      }
    });
    calendar.render();
    calendarEl.style.height = "100vh";
  });


</script>
<style>

.card-registration {
  max-width: 600px;
}

#calendar {
  background-color: rgba(255, 255, 255, 0.8);
  border: separate;
  border-radius:20px;
  font-size: larger;
  width: 100%;
  margin: 1px;
  text-align: left;
}

th {
  display: none;
}

.fc-theme-standard td, .fc-theme-standard th {
  border: 1px solid grey;
}

</style>
{% endblock %}