<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Borja Piñero Calera">

  <script type="text/javascript" src="/static/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/static/jquery-3.6.3.min.js"></script>
  <link rel="stylesheet" href="/static/bootstrap.min.css">

    
  <title>
    ClinicAPP
  </title>
</head>

<body>

{% block body %}
{% endblock %}
</body>
</html>