{% include "navbar.html" %}

    {% block body %}
    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Añadir nueva Visita</h3>

                  {% if messages|length > 0 %}
                  {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                  <form method="post" 
                  {% if visita.id > 0 %}
                    action="/visita/update/{{ visita.id }}"
                  {% else %}
                    action="/visita/add"
                  {% endif %}
                  >
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                          <input type="text" id="dni" class="form-control form-control-lg" name="dni" value="{{ visita.id_paciente.dni }}" maxlength="9" minlength="9" pattern="^[0-9]{8,8}[A-Za-z]$">
                          <label class="form-label" for="dni">DNI</label>
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                            <select class="form-control form-control-lg" id="motivo" name="motivo" value="{{ visita.motivo }}">
                                    <option value="INFORMACION"
                                    {% if visita.motivo == "INFORMACION" %}
                                      selected
                                    {% endif %}
                                    >INFORMACION</option>

                                    <option value="MEDICINA FAMILIAR"
                                    {% if visita.motivo == "MEDICINA FAMILIAR" %}
                                      selected
                                    {% endif %}
                                    >MEDICINA FAMILIAR</option>

                                    <option value="CONSULTA"
                                    {% if visita.motivo == "CONSULTA" %}
                                      selected
                                    {% endif %}
                                    >CONSULTA</option>

                                    <option value="REVISION"
                                    {% if visita.motivo == "REVISION" %}
                                      selected
                                    {% endif %}
                                    >REVISION</option>
                            </select>                          
                                <label class="form-label" for="motivo">Motivo</label>
                        </div>
      
                      </div>

                    </div>

                    <div class="alert alert-info" role="alert" id="nombre_paciente" style="display: none;">

                    </div>

                    <script>
                            
                    

                    </script>


                    <div class="row">
                      <div class="col-md-6 mb-4 d-flex align-items-center">
                        <div class="form-outline datepicker w-100">
                            {% if resultados or mostrar %}
                                <input type="input" list="intervencion_datalist" autocomplete="off" class="form-control form-control-lg" id="intervencion" name="intervencion" value="{{ resultados.id_intervencion.nombre }}" />
                                <datalist id="intervencion_datalist">
                                {% for item in intervenciones %}
                                  <option>{{item.nombre}}</option>
                                {% endfor %}
                              </datalist>
                                <label id="intervencion_label" for="intervencion" class="form-label">Intervencion</label>
                            {% else %}
                                <input type="input" autocomplete="off" list="intervencion_datalist" class="form-control form-control-lg" id="intervencion" name="intervencion" value="{{ intervencion }}" style="display: none;"/>
                                <datalist id="intervencion_datalist">
                                  {% for item in intervenciones %}
                                    <option>{{item.nombre}}</option>
                                  {% endfor %}
                                </datalist>
                                <label id="intervencion_label" for="intervencion" class="form-label" style="display: none;">Intervencion</label>
                            {% endif %}

                        </div>
                      </div>
                    </div>

                    <script>
                    window.addEventListener("load", function () {
                    document.getElementById("dni").addEventListener("change", mostrarNombre);
                            function mostrarNombre(){
                                var dni = document.getElementById("dni").value.toUpperCase();
                                var nombrePaciente = document.getElementById("nombre_paciente");
                                var pacientes = {{ pacientes|safe }};
                                var coincidencia = false;
                                for (var i = 0; i < pacientes.length; i++) {
                                    if (pacientes[i].dni === dni) {
                                        coincidencia =true;
                                        break;
                                    }
                                }
                                nombrePaciente.style.display = "block";
                                if(coincidencia==true){
                                    nombrePaciente.classList.add('alert-info');
                                    nombrePaciente.classList.remove('alert-danger');
                                    nombrePaciente.textContent = pacientes[i].nombre + ", " + pacientes[i].apellidos;
                                }else{
                                    nombrePaciente.classList.remove('alert-info');
                                    nombrePaciente.classList.add('alert-danger');
                                    nombrePaciente.textContent = "No existen pacientes con ese DNI";
                                }
                            }
                        document.getElementById("motivo").addEventListener("change", mostrarIntervencion);

                        function mostrarIntervencion(){
                            motivo = document.getElementById("motivo").value;
                            if (motivo == "CONSULTA"){
                                document.getElementById("intervencion").style.display = "block";
                                document.getElementById("intervencion_label").style.display = "block";
                            }else{
                                document.getElementById("intervencion").style.display = "none";
                                document.getElementById("intervencion_label").style.display = "none";
                            }
                        }
                      });

                 

                    </script>
                      
                    <div class="mt-4 pt-2">
                      <input class="btn btn-primary btn-lg" type="submit" value="Guardar" style="border-radius: 2rem;"/>
                    </div>
      
                  </form>

                  {% if visita.observaciones_auxiliar %}
                  <hr>
                  <div class="alert alert-secondary" role="alert">
                    <b>Observaciones del Auxiliar: </b> {{ visita.observaciones_auxiliar }}
                  </div>
                  {% endif %}

                  {% if visita.observaciones_doctor %}
                  <hr>
                  <div class="alert alert-secondary" role="alert">
                    <b>Observaciones del Doctor: </b> {{ visita.observaciones_doctor }}
                  </div>
                  {% endif %}


                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% endblock %}