{% include "navbar.html" %}

    {% block body %}
    <section class="vh-100" id="multi-bg">
        <div class="container py-3 h-100 mt-5">

              <div class="row justify-content-center align-items-center">
                <div class="col-4">
                    {% if messages %}
                      {% for message in messages %}
                          <li{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</li>
                      {% endfor %}
                    {% endif %}
                    <form action="/visita/intervencion/add" method="post">
                        {% csrf_token %}
                        <input type="text" name="nombre" style="border-radius: 1rem; width: 233px;" placeholder="Nombre intervencion" class="mb-2"/>
                        <div class="row">
                            <div class="col-7">
                                <select class="form-control form-control-lg mb-2" id="tipo" name="tipo" style="border-radius: 1rem;">
                              {% for tipo in tipos %}
                                <option value="{{ tipo }}" >
                                    {{ tipo }}
                                </option>
                              {% endfor %}
                        </select>
                            </div>
                        </div>
                        
                        <input class="btn btn-success mb-5" type="submit" value="Agregar" style="border-radius: 2rem;"/>
                    </form>
                </div>
                <div class="col-4">
                    <form action="/visita/intervencion/buscar" method="get">
                        <input type="text" name="nombre" style="border-radius: 1rem;"placeholder="Nombre Intervencion"/>
                        <input class="btn btn-success" type="submit" value="Buscar" style="border-radius: 2rem;"/>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center align-items-center h-50">
              <div class="col col-xl-10">
              {% if intervenciones|length > 0 %}

              {% for i in intervenciones %}
                
              <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <h4 class="mb-3"><b>{{ i.nombre }}</b></h3>
                  <h5 class="mb-3">{{ i.tipo }}</h3>
                  <hr class="my-2">
                  <div class="d-flex justify-content-start align-items-center">
                    <a href="/visita/intervencion/borrar/{{ i.id }}" class="btn btn-danger">
                        Eliminar
                    </a>
                    </div>
                </div>
              </div>

              {% endfor %}

              {% else %}
                <p class="alert alert-danger">No se encontraron intervenciones</p>
              {% endif %}

              </div>
            </div>
            </div>
          </div>
        </div>
    </section>

{% endblock %}

</html>