{% include "navbar.html" %}

    {% block body %}
    <section class="vh-100" id="multi-bg">
        <div class="container py-3 h-100">
            <div class="row">
              
                <div class="col">
                  <div class="p-3 mb-3 mt-5 display-6 text-light rounded-3 text-center">
                {% if not historia %}
                  {% if fecha_i %}
                    Visitas desde el {{fecha_i|date:"d-m-Y"}} hasta el {{fecha_f|date:"d-m-Y"}}
                      {% if intervencion %}
                        <b> de {{intervencion}}</b>
                      {% endif %}
                  {% else %}
                    Visitas de <b>{{ paciente.nombre }}, {{ paciente.apellidos }}.</b>
                  {% endif %}
                  (Encontrados {{ visitas|length }} resultados)
                  {% else %}
                      Historial de la visita de <b>{{ historia.last.id_paciente.nombre }}, {{ historia.last.id_paciente.apellidos }}</b>
                  {% endif %}
                </div>
                </div>
            </div>

            {% if not historia %}

            <div class="row justify-content-center align-items-center h-50">
              <div class="col col-xl-10">
              {% if visitas|length > 0 %}

              {% for v in visitas %}
                
              <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <h4 class="mb-3">{{ v.id_paciente.nombre }}, {{ v.id_paciente.apellidos }}</h4>
                  <h4 class="mb-3">{{ v.fecha |date:"d-m-Y H:i" }}</h4>
                  <h4 class="mb-3">{{ v.motivo }}</h4>
                  <h5 class="mb-3">{{ v.resultados.id_intervencion.nombre }}</h5>
                  <hr class="my-2">
                  <p><b>Observaciones Auxiliar:</b></p>
                  <p>{{ v.observaciones_auxiliar }}</p>
                  <hr class="my-2">
                  <p><b>Observaciones Doctor:</b></p>
                  <p>{{ v.observaciones_doctor }}</p>
                  <hr class="my-2">

                  <div class="dropdown">
                    <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Opciones
                    </a>
                  
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item text-center" href="/visita/{{ v.id }}">Ver detalles</a></li>
                      <li><a class="dropdown-item text-center" href="/paciente/{{ v.id_paciente.id }}">Ver Paciente</a></li>
                        {% for group in user.groups.all %}
                          {% if group.name == 'Auxiliar' %}
                            <li><a class="dropdown-item text-center" href="/visita/update/auxiliar/{{ v.id }}">Modificar Observaciones Auxiliar</a></li>
                          {% endif %}
                        {% endfor %}

                        {% for group in user.groups.all %}
                          {% if group.name == 'Doctor' %}
                            <li><a class="dropdown-item text-center" href="/visita/update/doctor/{{ v.id }}">Modificar Observaciones Doctor</a></li>
                          {% endif %}
                        {% endfor %}

                      <li><a class="dropdown-item text-center" href="/visita/historia/{{ v.id }}">Ver historial de ediciones</a></li>
                      {% if v.motivo == 'CONSULTA' %}
                      <li><a class="dropdown-item text-center" href="/visita/update/fotos/{{ v.id }}">Subir Fotos</a></li>
                      {% endif %}
                    </ul>
                  </div>

                </div>
              </div>

              {% endfor %}

              {% else %}
                <p class="alert alert-danger">No se encontraron visitas</p>
              {% endif %}
              
              </div>
            </div>

            {% else %}
            <div class="row justify-content-center align-items-center h-50">
              <div class="col col-xl-10">

              {% for v in historia %}
                
              <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <h4 class="mb-3">Modificacion del {{ v.history_date|date:"d-m-Y H:i" }} hecha por {{ v.history_user }}</h4>  
                  <h4 class="mb-3">{{ v.id_paciente.nombre }}, {{ v.id_paciente.apellidos }}</h4>
                  <h4 class="mb-3">{{ v.fecha |date:"d-m-Y H:i" }}</h4>
                  <h4 class="mb-3">{{ v.motivo }}</h4>
                  <h5 class="mb-3">{{ v.resultados.id_intervencion.nombre }}</h5>
                  <hr class="my-2">
                  <p><b>Observaciones Auxiliar:</b></p>
                  <p>{{ v.observaciones_auxiliar }}</p>
                  <hr class="my-2">
                  <p><b>Observaciones Doctor:</b></p>
                  <p>{{ v.observaciones_doctor }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div> 
          {% endif %}
        </div>
    </section>

{% endblock %}

</html>