{% include "navbar.html" %}

    {% block body %}
    <section class="vh-100" id="multi-bg">
        <div class="container py-3 h-100 mt-5">

              <div class="row justify-content-center align-items-center">
                <div class="col-4">
                    {% if messages %}
                      {% for message in messages %}
                          <li{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</li>
                      {% endfor %}
                    {% endif %}
                    <form action="/visita/intervencion/add" method="post">
                        {% csrf_token %}
                        <input type="text" name="nombre" style="border-radius: 1rem; width: 233px;" placeholder="Nombre intervencion" class="mb-2"/>
                        <div class="row">
                            <div class="col-7">
                                <select class="form-control form-control-lg mb-2" id="tipo" name="tipo" style="border-radius: 1rem;">
                              {% for tipo in tipos %}
                                <option value="{{ tipo }}" >
                                    {{ tipo }}
                                </option>
                              {% endfor %}
                        </select>
                            </div>
                        </div>
                        
                        <input class="btn btn-success mb-5" type="submit" value="Agregar" style="border-radius: 2rem;"/>
                    </form>
                </div>
                <div class="col-4">
                    <form action="/visita/intervencion/buscar" method="get">
                        <input type="text" name="nombre" style="border-radius: 1rem;"placeholder="Nombre Intervencion"/>
                        <input class="btn btn-success" type="submit" value="Buscar" style="border-radius: 2rem;"/>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center align-items-center h-50">
              <div class="col col-xl-10">
              {% if intervenciones|length > 0 %}

              {% for i in intervenciones %}
                
              <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <h4 class="mb-3"><b>{{ i.nombre }}</b></h3>
                  <h5 class="mb-3">{{ i.tipo }}</h3>
                  <hr class="my-2">
                  <div class="d-flex justify-content-start align-items-center">
                    <a href="/visita/intervencion/borrar/{{ i.id }}" class="btn btn-danger">
                        Eliminar
                    </a>
                    </div>
                </div>
              </div>

              {% endfor %}

              {% else %}
                <p class="alert alert-danger">No se encontraron intervenciones</p>
              {% endif %}

              {% if intervenciones.has_previous %}
                  <a href="?pag={{ intervenciones.previous_page_number }}"><button type="button" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>
                    </svg>
                      Anterior
                  </button></a>
              {% endif %}
              {% if intervenciones.has_next %}
                  <a href="?pag={{ intervenciones.next_page_number }}" style="color:white;"><button type="button" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                    </svg>
                    Siguiente
                  </button></a>
              {% endif %}

              </div>
            </div>
            </div>
          </div>
        </div>
    </section>

{% endblock %}

</html>