{% include "navbar.html" %}

    {% block body %}
<div class="container">
    <div class="table-wrapper">
        <div class="row justify-content-center align-items-center">

            <div class="col">

                <h4 class="d-flex justify-content-center mt-5"><a class="delete" title="Quitar" data-toggle="tooltip" href="/visita/add">
                    <button type="button"
                    class="btn btn-primary " style="border-radius: 2rem;">Añadir Nueva Visita</button></a></h4>
                    
                    {% if messages|length > 0 %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                    {% endfor %}
                  {% endif %}
                    <form action="/visita/buscar/paciente/dni" method="post" class="d-flex justify-content-center mt-5">
                        {% csrf_token %}
                        <input type="text" name="dni" style="border-radius: 1rem;"placeholder="DNI paciente"/>
                        <input class="btn btn-success btn-lg" type="submit" value="Buscar" style="border-radius: 2rem;"/>
                    </form>
                    
            </div>


        </div>
    </div>
</div>

    {% endblock %}