{% include "navbar.html" %}
{% block body %}
<div class="album py-5 mt-5">
    <div class="container">
        {% if messages|length > 0 %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
      <div class="row row-cols-1 row-cols-sm-2 g-3">

        <div class="col">
          <div class="card shadow-sm mb-3">
            <div class="text-center">
            {% include 'visita.svg' %}
            </div>
            <div class="card-body">
              <h3 class="card-text">Añade una nueva visita al sistema.</h3>
              <div class="text-center">
                <div class="btn-group">
                  <a class="btn btn-primary btn-lg shadow-lg" href="/visita/add" role="button" style="border-radius: 2rem;">Añadir Visita➕</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div class="text-center">
            {% include 'quirofano.svg' %}
            {% include 'quirofano.svg' %}
            </div>
              <div class="card-body">
              <h3 class="card-text">Ve una lista de todas las intervenciones.</h3>
              <div class="text-center">
                <div class="btn-group">
                  <a class="btn btn-primary btn-lg shadow-lg" href="/visita/intervencion" role="button" style="border-radius: 2rem;">Ver Intervenciones📜</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div class="text-center">
            {% include 'dni.svg' %}
            </div>
              <div class="card-body">
              <h3 class="card-text">Busca las visitas de un paciente por su DNI completo.</h3>
              <div class="text-center">
                <div class="btn-group">
                  <form action="/visita/buscar/paciente/dni" method="get">
                    <input type="text" name="dni" style="border-radius: 1rem;"placeholder="DNI del paciente" class="me-3"  maxlength="9" minlength="9" pattern="^[0-9]{8,8}[A-Za-z]$"/>
                    <input class="btn btn-primary btn-lg shadow-lg" type="submit" value="Buscar🔎" style="border-radius: 2rem;"/>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div class="text-center">
              {% include 'calendario.svg' %}
              {% include 'quirofano.svg' %}
            </div>
              <div class="card-body">
              <h3 class="card-text">Busca las visitas de una intervencion entre dos fechas</h3>
              <div class="text-center">
                <div class="btn-group">
                  <form action="/visita/buscar/paciente/intervencion" method="get">
                    <input type="text" list="datalist_intervencion" name="intervencion" style="border-radius: 1rem;" placeholder="Intervencion" class="me-3" autocomplete="off"/>
                    <datalist id="datalist_intervencion">
                        {% for i in intervenciones %}
                        <option>
                            {{ i.nombre }}
                        </option>
                        {% endfor %}
                    </datalist>
                    <input type="date" name="fecha_i" style="border-radius: 1rem;" placeholder="Fecha mas temprana"/>
                    <b>-</b>
                    <input type="date" name="fecha_f" style="border-radius: 1rem;" placeholder="Fecha mas tardia"/>
                    <input class="btn btn-primary btn-lg shadow-lg" type="submit" value="Buscar🔎" style="border-radius: 2rem;"/>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
              <div class="text-center">
                {% include 'paciente.svg' %}
                {% include 'calendario.svg' %}
              </div>
                <div class="card-body">
                <h3 class="card-text">Ve un listado de los pacientes que han venido entre dos fechas.</h3>
                <div class="text-center">
                  <div class="btn-group">
                    <form action="/visita/buscar/paciente/fecha" method="get">
                        <input type="date" class="mx-2" name="fecha_i" style="border-radius: 1rem;" placeholder="Fecha mas temprana"/>
                        <b>-</b>
                        <input type="date" class="mx-2" name="fecha_f" style="border-radius: 1rem;" placeholder="Fecha mas tardia"/>
                        <input class="btn btn-primary btn-lg shadow-lg" type="submit" value="Buscar🔎" style="border-radius: 2rem;"/>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
</div>
{% endblock %}