{% include "navbar.html" %}

    {% block body %}
    <section class="vh-100" id="multi-bg">
        <div class="container py-3 h-100">
            <div class="row">
                <div class="col-sm-8">
                  {% if fecha_i %}
                    <h2>Visitas desde el {{fecha_i|date:"d-m-Y"}} hasta el {{fecha_f|date:"d-m-Y"}} de <b>{{intervencion}}</b></h2>
                  {% else %}
                    <h2>Visitas de <b>{{ paciente.nombre }}, {{ paciente.apellidos }}</b></h2>
                  {% endif %}
                </div>
            </div>

            <div class="row justify-content-center align-items-center h-50">
              <div class="col col-xl-10">
              {% if visitas|length > 0 %}

              {% for v in visitas %}
                
              <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <h4 class="mb-3">{{ v.id_paciente.nombre }}, {{ v.id_paciente.apellidos }}</h4>
                  <h4 class="mb-3">{{ v.fecha |date:"d-m-Y H:i" }}</h4>
                  <h4 class="mb-3">{{ v.motivo }}</h4>
                  <h5 class="mb-3">{{ v.resultados.id_intervencion.nombre }}</h5>
                  <hr class="my-2">
                  <p><b>Observaciones Auxiliar:</b></p>
                  <p>{{ v.observaciones_auxiliar }}</p>
                  <hr class="my-2">
                  <p><b>Observaciones Doctor:</b></p>
                  <p>{{ v.observaciones_doctor }}</p>
                  <hr class="my-2">

                  <div class="dropdown">
                    <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Opciones
                    </a>
                  
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="/visita/{{ v.id }}">Ver detalles</a></li>
                      <li><a class="dropdown-item" href="/visita/update/auxiliar/{{ v.id }}">Modificar Observaciones Auxiliar</a></li>
                      <li><a class="dropdown-item" href="/visita/update/doctor/{{ v.id }}">Modificar Observaciones Doctor</a></li>
                      {% if v.motivo == 'CONSULTA' %}
                      <li><a class="dropdown-item" href="/visita/update/fotos/{{ v.id }}">Subir Fotos</a></li>
                      {% endif %}
                    </ul>
                  </div>

                </div>
              </div>

              {% endfor %}

              {% else %}
                <p class="alert alert-danger">No se encontraron intervenciones</p>
              {% endif %}

              </div>
            </div>
            </div>
          </div>
        </div>
    </section>

{% endblock %}

</html>