{% include "navbar.html" %}

    {% block body %}
    <section class="vh-100" id="multi-bg">
        <div class="container py-3 h-100">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Visitas de <b>{{ paciente.nombre }}, {{ paciente.apellidos }}</b></h2>
                </div>
            </div>

            <div class="row justify-content-center align-items-center h-50">
              <div class="col col-xl-10">
              {% if visitas|length > 0 %}

              {% for v in visitas %}
                
              <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <h4 class="mb-3">{{ v.fecha |date:"d-m-Y H:m" }}</h3>
                  <h4 class="mb-3">{{ v.motivo }}</h3>
                  <h5 class="mb-3">{{ v.resultados.id_intervencion.nombre }}</h3>
                  <hr class="my-2">
                  <p><b>Observaciones Auxiliar:</b></p>
                  <p>{{ v.observaciones_auxiliar }}</p>
                  <hr class="my-2">
                  <p><b>Observaciones Doctor:</b></p>
                  <p>{{ v.observaciones_doctor }}</p>
                  <hr class="my-2">
                  <div class="d-flex justify-content-start align-items-center">
                    <a href="/visita/{{ v.id }}">
                        <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                            class="text-muted small"><b>Ver detalles</b></span></p>
                    </a>
                    <span class="ms-3 me-4"> | </span></p>
                    <a href="/visita/update/auxiliar/{{ v.id }}">
                        <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                            class="text-muted small"><b>Modificar Observaciones Auxiliar</b></span></p>
                    </a>
                    <span class="ms-3 me-4"> | </span></p>
                    <a href="/visita/update/doctor/{{ v.id }}">
                        <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                            class="text-muted small"><b>Modificar Observaciones Doctor</b></span></p>
                    </a>
                    {% if v.motivo == 'CONSULTA' %}
                    <span class="ms-3 me-4"> | </span></p>
                    <a href="/visita/update/fotos/{{ v.id }}">
                        <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                            class="text-muted small"><b>Subir Fotos</b></span></p>
                    </a>
                    {% endif %}
                    </div>
                </div>
              </div>

              {% endfor %}

              {% else %}
                <p class="alert alert-danger">No se encontraron intervenciones</p>
              {% endif %}

              </div>
            </div>
            </div>
          </div>
        </div>
    </section>

{% endblock %}

</html>