{% include "navbar.html" %}

    {% block body %}
    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Añadir nuevo Paciente</h3>

                  {% if errores|length > 0 %}
                  {% for error in errores %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}

                  <form method="post" 
                  {% if paciente.id > 0 %}
                    action="/paciente/update/{{ paciente.id }}"
                  {% else %}
                    action="/paciente/add"
                  {% endif %}
                  >
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                          <input type="text" id="nombre" class="form-control form-control-lg" name="nombre" value="{{ paciente.nombre }}">
                          <label class="form-label" for="nombre">Nombre</label>
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                          <input type="text" id="apellidos" class="form-control form-control-lg" name="apellidos" value="{{ paciente.apellidos }}"/>
                          <label class="form-label" for="apellidos">Apellidos</label>
                        </div>
      
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
      
                            <div class="form-outline">
                              <input type="text" id="dni" class="form-control form-control-lg" name="dni" value="{{ paciente.dni }}"
                              {% if paciente.id > 0 %}
                              disabled
                              {% endif %}>
                              <label class="form-label" for="dni">DNI</label>
                            </div>
                          </div>

                          <div class="col-md-6 mb-4">
                            <div class="form-outline datepicker w-100">
                              <input type="text" class="form-control form-control-lg" id="direccion" name="direccion" value="{{ paciente.direccion }}"/>
                              <label for="direccion" class="form-label">Direccion</label>
                            </div>
                          </div>

                    </div>


                    <div class="row">
                      <div class="col-md-6 mb-4 d-flex align-items-center">
      
                        <div class="form-outline datepicker w-100">
                          <input type="date" class="form-control form-control-lg" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ paciente.fecha_nacimiento |date:"Y-m-d" }}"/>
                          <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      
                        <h6 class="mb-2 pb-1">Sexo: </h6>
      
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="sexo" id="femenino"
                            value="femenino" 
                            {% if paciente.sexo == "femenino"%}
                                checked 
                            {% endif %}
                            />
                          <label class="form-check-label" for="femenino">Femenino</label>
                        </div>
      
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="sexo" id="masculino"
                            value="masculino" 
                            {% if paciente.sexo == "masculino"%}
                                checked 
                            {% endif %}
                            />
                          <label class="form-check-label" for="masculino">Masculino</label>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 pb-2 d-flex align-items-center">
            
                              <div class="form-outline datepicker w-100">
                                <input type="tel" class="form-control form-control-lg" id="telefono" name="telefono" value="{{ paciente.telefono }}"/>
                                <label for="telefono" class="form-label">Telefono</label>
                              </div>
            
                            </div>
                        
                            <div class="col-md-6 mb-4 pb-2 d-flex align-items-center">
            
                              <div class="form-outline datepicker w-100">
                                <input type="email" class="form-control form-control-lg" id="email" name="email" value="{{ paciente.email }}"/>
                                <label for="email" class="form-label">Email</label>
                              </div>
            
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6 mb-4">
        
                              <div class="form-outline">
                                <input type="text" id="pais" class="form-control form-control-lg" name="pais" value="{{ paciente.pais }}">
                                <label class="form-label" for="pais">Pais</label>
                              </div>
                            </div>
  
                            <div class="col-md-6 mb-4">
                              <div class="form-outline datepicker w-100">
                                {% if paciente and paciente.comunidad != ""%}
                                <select class="form-control form-control-lg" id="comunidad" name="comunidad" value="{{ paciente.comunidad }}">
                                {% else %}
                                <select class="form-control form-control-lg" id="comunidad" name="comunidad" value="{{ paciente.comunidad }}" style="display:none">
                                {% endif %}
                                  {% for comunidad in comunidades %}
                                    <option value="{{ comunidad }}"
                                    {% if paciente.comunidad == comunidad %}
                                      selected
                                    {% endif %}
                                    >{{ comunidad }}</option>
                                  {% endfor %}
                                </select>
                                <label id="label_comunidad" for="comunidad" class="form-label" style="display:none">Comunidad Autónoma</label>
                              </div>
                            </div>

                            <script>
                              document.getElementById("pais").addEventListener("change", mostrarInput); 

                              function mostrarInput() {
                                var pais = document.getElementById("pais").value.toUpperCase();;
                                if (pais === "ESPAÑA") {
                                  document.getElementById("comunidad").style.display = "block";
                                  document.getElementById("label_comunidad").style.display = "block";
                                  document.getElementById("localidad").style.display = "block";
                                  document.getElementById("label_localidad").style.display = "block";
                                  document.getElementById("codigo_postal").style.display = "block";
                                  document.getElementById("label_codigo_postal").style.display = "block";
                                } else {
                                  document.getElementById("comunidad").style.display = "none";
                                  document.getElementById("label_comunidad").style.display = "none";
                                  document.getElementById("localidad").style.display = "none";
                                  document.getElementById("label_localidad").style.display = "none";
                                  document.getElementById("codigo_postal").style.display = "none";
                                  document.getElementById("label_codigo_postal").style.display = "none";
                                }
                              }
                            </script>
  
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline datepicker w-100">
                            {% if paciente and paciente.pais == "ESPAÑA" %}
                            <input type="number" class="form-control form-control-lg" id="codigo_postal" name="codigo_postal" value="{{ paciente.codigo_postal }}"/>
                            <label id="label_codigo_postal" for="codigo_postal" class="form-label">Codigo Postal</label>
                            {% else %}
                            <input type="number" class="form-control form-control-lg" id="codigo_postal" name="codigo_postal" value="{{ paciente.codigo_postal }}" style="display:none;"/>
                            <label id="label_codigo_postal" for="codigo_postal" class="form-label" style="display: none;">Codigo Postal</label>
                            {% endif %}
                          </div>
                        </div>
  
                        <div class="col-md-6 mb-4">
                          <div class="form-outline datepicker w-100">
                            {% if paciente and paciente.pais == "ESPAÑA" %}
                            <input type="text" class="form-control form-control-lg" id="localidad" name="localidad" value="{{ paciente.localidad }}"/>
                            <label id="label_localidad" for="localidad" class="form-label">Localidad</label>
                            {% else %}
                            <input type="text" class="form-control form-control-lg" id="localidad" name="localidad" value="{{ paciente.localidad }}" style="display:none;"/>
                            <label id="label_localidad" for="localidad" class="form-label" style="display: none;">Localidad</label>
                            {% endif %}

                          </div>
                        </div>
  
                      </div>

                        <div class="row">
                          <div class="col-md-6 mb-4">
        
                              <div class="form-outline">
                                <input type="text" id="vino_de" class="form-control form-control-lg" name="vino_de" value="{{ paciente.vino_de }}">
                                <label class="form-label" for="vino_de">Nos conoce por...</label>
                              </div>
                            </div>
  
                            <div class="col-md-6 mb-4">
                              <div class="form-outline datepicker w-100">
                                <input type="checkbox" class="form-check-input" id="quiere_info" name="quiere_info" 
                                {% if paciente.quiere_informacion == True %}
                                  checked/>
                                {% else %}
                                  />
                                {% endif %}
                                <label for="quiere_info" class="form-label">¿Quiere recibir informacion?</label>
                              </div>
                            </div>
  
                      </div>
                    </div>
                    <div class="mt-4 pt-2">
                      <input class="btn btn-primary btn-lg" type="submit" value="Guardar" style="border-radius: 2rem;"/>
                    </div>
      
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% endblock %}