{% include "navbar.html" %}

{% block body %}
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <div class="p-3 mb-3 display-6 text-light rounded-3">
                        {{ tipo }} <b>{{ paciente.nombre }}, {{ paciente.apellidos }}</b>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        {% if messages %}
            {% for message in messages %}
                <li{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</li>
            {% endfor %}
        {% endif %}

        {% if tipo == "Alergias" %}
            <form class="col-sm" action="/paciente/alergias/add/{{ paciente.id }}" method="post">
        {% elif tipo == "Antecedente" %}
            <form class="col-sm" action="/paciente/antecedente/add/{{ paciente.id }}" method="post">
        {% else %}
            <form class="col-sm" action="/paciente/farmacos/add/{{ paciente.id }}" method="post">
        {% endif %}
            {% csrf_token %}
            <input required type="text" list="datalist" autocomplete="off" name="nombre" style="border-radius: 1rem;" 
        
            {% if tipo == "Alergias" %}
                placeholder="Alergia nueva del paciente">    
            {% elif tipo == "Antecedente" %}
                placeholder="Antecedente nuevo del paciente">
            {% else %}
                placeholder="Farmaco nuevo del paciente">
                <input required type="text" style="border-radius: 1rem;" name="cantidad" placeholder="Cantidad">
                <input required type="date" style="border-radius: 1rem;" name="fechaInicio" placeholder="Fecha Inicio">
                    <b class="text-light">-</b>
                <input required type="date" style="border-radius: 1rem;" name="fechaFin" placeholder="Fecha Fin">
            {% endif %}

            <datalist id="datalist">
                {% for item in todo_autocompletado %}
                  <option>{{item.nombre}}</option>
                {% endfor %}
              </datalist>

            <input class="btn btn-success btn-lg" type="submit" value="Agregar" style="border-radius: 2rem;"/>

        </form>

        <div class="col-sm">
            {% if tipo == "Alergias" %}
                <form action="/paciente/alergias/add" method="post">
            {% elif tipo == "Antecedente" %}
                <form action="/paciente/antecedente/add" method="post">
            {% else %}
                <form action="/paciente/farmacos/add" method="post">
            {% endif %}
                    {% csrf_token %} 
                    <input required type="text" id="tags" name="nombre" style="border-radius: 1rem;" 

                    {% if tipo == "Alergias" %}
                        placeholder="Alergia nueva en el sistema">
                    {% elif tipo == "Antecedente" %}
                        placeholder="Antecedente nuevo en el sistema">
                    {% else %}
                        placeholder="Farmaco nuevo en el sistema">
                    {% endif %}
                    
                    
                    <input type="hidden" name="anterior" value="{{ request.path }}">
                    <input class="btn btn-success btn-lg" type="submit" value="Agregar" style="border-radius: 2rem;"/>
                </form>
        </div>
    </div>
    <br>
    
    {% if tipo == "Alergias" %}
        {% for item in paciente.alergias.all %}
        <div class="col col-xl-12 d-flex justify-content-center">
    
            <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body p-4">
        
                    <h4>{{ item.nombre }}</h4>
                    <h4 class="d-flex justify-content-center"><a class="delete" title="Quitar" data-toggle="tooltip" href="/paciente/alergias/borrar/{{ item.id }}/{{ paciente.id }}">
                        <button type="button"
                        class="btn btn-danger " style="border-radius: 2rem;">Quitar</button></a></h4>
                </div>
            </div>
        </div>
        {% endfor %}
    {% elif tipo == "Antecedente" %}
        {% for item in paciente.antecedentes.all %}
        <div class="col col-xl-12 d-flex justify-content-center">
    
            <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body p-4">
        
                    <h4>{{ item.nombre }}</h4>
                    <h4 class="d-flex justify-content-center"><a class="delete" title="Quitar" data-toggle="tooltip" 
                            href="/paciente/antecedente/borrar/{{ item.id }}/{{ paciente.id }}">
                        <button type="button"
                        class="btn btn-danger " style="border-radius: 2rem;">Quitar</button></a></h4>
                </div>
            </div>
        </div>
        {% endfor %}

    {% else %}
        {% for item in prescripciones %}
        <div class="col col-xl-12 d-flex justify-content-center">
    
            <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body p-4">
        
                    <h4>{{ item.id_farmaco }}</h4>
                    <h5>{{ item.cantidad }}</h5>
                    <h5>Desde... {{ item.fechaInicio |date:"d-m-Y"}}</h5>
                    <h5>Hasta... {{ item.fechaFin |date:"d-m-Y"}}</h5>
                    <h4 class="d-flex justify-content-center"><a class="delete" title="Quitar" data-toggle="tooltip" 
                            href="/paciente/farmacos/borrar/{{ item.id_farmaco.id }}/{{ paciente.id }}">
                        <button type="button"
                        class="btn btn-danger " style="border-radius: 2rem;">Quitar</button></a></h4>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}


{% endblock %}