{% include "navbar.html" %}

    {% block body %}
    <section class="vh-100" id="multi-bg">
        <div class="container py-3 h-100">
          <div class="row justify-content-center align-items-center">
            
            <div class="col-md-auto">
              <a class="btn btn-primary" href="/paciente/add" role="button" style="border-radius: 2rem;">Añadir Paciente</a> 
            </div>
            
          </div>
          <div class="row justify-content-center align-items-center">

                <div class="col-md-auto mt-3">
                  <form action="/paciente/buscar" method="get">
                    <input type="text" name="dni" style="border-radius: 1rem;"placeholder="DNI paciente"/>
                    <input class="btn btn-success" type="submit" value="Buscar" style="border-radius: 2rem;"/>
                  </form>
                </div>

                <div class="col-md-auto mt-3">
                  <form action="/paciente/buscar" method="get">
                    <input type="text" name="apellidos" style="border-radius: 1rem;"placeholder="Apellido paciente"/>
                    <input class="btn btn-success" type="submit" value="Buscar" style="border-radius: 2rem;"/>
                  </form>
                </div>

          </div>
            <div class="row justify-content-center align-items-center h-50 mt-4">
              <div class="col col-xl-10">
              {% if pacientes|length > 0 %}

              {% for p in pacientes %}
                
              <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <h4 class="mb-3">{{ p.nombre }}, {{p.apellidos}}</h3>
                  <h4 class="mb-3">{{ p.dni }}</h3>
                  <p class="small mb-0"><i class="far fa-star fa-lg"></i>
                    <strong>{{ p.email }}</strong>
                  </p>
                  <p class="small mb-0"><i class="far fa-star fa-lg"></i> 
                    <strong>{{ p.telefono }}</strong> 
                  </p>

                  <p class="small mb-0"><i class="far fa-star fa-lg"></i> 
                    <strong>{{ p.prueba }}</strong> 
                  </p>


                  <hr class="my-2">

                  <div class="dropdown">
                    <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Opciones
                    </a>
                  
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item text-center" href="/paciente/alergias/{{ p.id }}">Alergia</a></li>
                      <li><a class="dropdown-item text-center" href="/paciente/antecedente/{{ p.id }}">Antecedentes</a></li>
                      <li><a class="dropdown-item text-center" href="/paciente/farmacos/{{ p.id }}">Farmacos</a></li>
                      <li><a class="dropdown-item text-center" href="/paciente/historia/{{ p.id }}">Ver historial de ediciones</a></li>
                      <li><a class="dropdown-item text-center" href="/paciente/{{ p.id }}">Editar informacion</a></li>
                      <li><a class="dropdown-item">
                        <form action="/visita/buscar/paciente/dni" method="get">
                          <input type="hidden" name="dni" value="{{ p.dni }}">
                          <input class="dropdown-item text-center" type="submit" value="Ver Visitas"/>
                        </form></a></li>
                    </ul>
                  </div>

                </div>
              </div>

              {% endfor %}

              {% else %}
                <p class="alert alert-danger">No se encontraron pacientes</p>
              {% endif %}

              {% if pacientes.has_previous %}
                  <a href="?pag={{ pacientes.previous_page_number }}" style="color:white;"><button type="button" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>
                    </svg>
                      Anterior
                  </button></a>
              {% endif %}
              {% if pacientes.has_next %}
                  <a href="?pag={{ pacientes.next_page_number }}" style="color:white;"><button type="button" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                    </svg>
                    Siguiente
                  </button></a>
              {% endif %}

              </div>
            </div>
            </div>
          </div>
        </div>
    </section>

{% endblock %}

</html>